<style>

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin-top: 10px;
        border-radius: 5px;
        margin: auto;
        width: 50%;
        justify-items: center;
    }
    h1, h2, h3, h4, h5, h6, b {
        font-family: "Segoe UI",Arial,sans-serif;
        font-weight: 400;
        margin: 10px 0;
    }

    .red {
        background-color: rgb(170, 0, 0);
    }
    .green {
        background-color: green;
    }

    b {
        font-weight: bold;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .container {
        padding: 2px 16px;
        padding-top: 10px;
    }
</style>
{% if class.done == True %}
    <div class="card green">

        <div class="container">
            <h4><b>{{ class.class_name }}</b></h4>
            <a style="margin-top: 5px;" href={{ class.class_link }}>Class Link</a>
            <h5>Starting Date and Time: {{ class.start_time.month }}/{{ class.start_time.day }}/{{ class.start_time.year }}, {{ class.start_time.strftime("%H:%M %p") }}</h5><!--add time later-->
        </div>
    </div>
{% else %}
    <div class="card red">

        <div class="container">
            <h4><b>{{ class.class_name }}</b></h4>
            <a style="margin-top: 5px;" href={{ class.class_link }}>Class Link</a>
            <h5>Starting Date and Time: {{ class.start_time.month }}/{{ class.start_time.day }}/{{ class.start_time.year }}, {{ class.start_time.strftime("%H:%M %p") }}</h5><!--add time later-->
        </div>
    </div>
{% endif %}
