{% import 'bootstrap/form.html' as fom %}
{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
{% block app_content %}
<body>

    {{ fom.render_form(form) }}<br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <span style="color: red;">[{{ message }}]</span>
        {% endfor %}
    {% endif %}
    {% endwith %}
</body>
{% endblock %}
</html>